<div class="flex flex-col">
  <div class="-m-1.5 overflow-x-auto">
    <div class="p-1.5 min-w-full inline-block align-middle">
      <div class="border rounded-lg overflow-hidden">
        <table class="min-w-full divide-y divide-gray-200">
          <thead class="bg-gray-50">
          <tr>
            <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">No</th>
            <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Title</th>
            <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Description</th>
            <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Link</th>
            <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Action</th>
          </tr>
          </thead>
          <tbody class="divide-y divide-gray-200">
          <tr *ngFor="let activity of data">
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 lowercase">{{ activity.username }}</td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">{{ activity.log_data }}</td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">{{ formatWaktu(activity.created_at) }}</td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">{{ formatWaktu(activity.created_at) }}</td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">{{ formatWaktu(activity.created_at) }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
